@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-raleway: 'Raleway', sans-serif;
}

* {
  font-family: var(--font-raleway);
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}
